.todo {
    width: 92vw;
    display: grid;
    grid-template-columns: 43vw 43vw;
    column-gap: 4vw;
    margin: 4vw 4vw;    
    color: #2c3e50;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.taskList > * {
    margin-top: 0;
    margin-bottom: 1.4vw;
    margin-left: 3.5vw;
}
